.filter-container {
    background: #0c0315ed;
    height: 100vh;
    width: 100%;
    padding: 5em 15px 2em;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -100vh;
    transition: 0.5s all ease-in-out;
    margin-bottom: 0.75em;
    z-index: 1;
    position: fixed;
}

.filter-active {
    top: 0;
}

.filter-active-blur {
    filter: blur(2px);
}

.row {
    transition: 0.6s all ease-in-out;
}

.center-filter {
    position: absolute;
    height: 100vh;
    max-width: 1440px;
    top: -4em;
    place-items: center center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.filter-btn {
    background: #f90f1c73;
    color: rgba(255, 255, 255, 0.77) !important;
    font-size: 1.5em;
    font-weight: 400;
    border: 0;
    border-radius: 5px;
    padding: 0.5em 0.75em 0.5em;
    letter-spacing: 1px;
    width: 10em;
    cursor: pointer;
    margin: 2em auto;
}

.filter-btn:hover {
    color: rgba(227, 227, 227, 0.85) !important;
    background: #cb1a239e;
}

.filter-btn:focus {
    outline: none;
}
