.movies-category {
    font-size: 2em;
    letter-spacing: 1px;
    padding-bottom: 8px;
    padding-left: 5px;
}

hr.text-line {
    border-top: 1px solid red !important;
    margin-left: 0;
}

.movies-bg-img {
    filter: blur(30px);

    height: 120vh;
    width: 100vw;
    top: -44%;
    left: 0;
    position: absolute;
    z-index: -1;
    transform: scale(1.2);
}

.movies-bg {
    background: hsla(203, 29%, 34%, 0.37);
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: -1;
}

.movie-bg-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    z-index: -1;
    transition: 0.4s all;
}

.movie-bg-container.movie-transition {
    /* opacity: 1;
    left: 0em; */

    transform: translateX(4em);
}

/* .movie-bg-container .row {
    padding: 0 2em !important;
} */

.movie-bg-img {
    filter: blur(25px);
    height: 100vh;
    width: 105vw;
    z-index: -1;
    transform: scale(1.2);
}

.movie-bg {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: -1;
}

.movie-bg.loaded {
    background: rgba(0, 0, 0, 1);
}

.movie-card-img {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    background: #00000026;
    transition: 0.4s all;
    min-height: 270px;
}

.movie-card-img:hover {
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.5);
}

.movie-card-container {
    transition: 0.3s all;
    padding-left: 4px !important;
    padding-right: 4px !important;
    opacity: 1;
    left: 0;
}

.movie-card-container:hover {
    transform: scale(1.15);
    z-index: 700;
}

.card-title {
    /* margin-top: 1em !important;
    font-size: 1.3em !important; */
    font-size: 0.9em !important;
    text-align: left !important;
    padding-left: 0.6em;
    /* font-weight: 400; */
}

.movie-card-info {
    height: 2em !important;
    margin-top: -2.8em !important;
    margin-left: 0.25em;
    top: 3em;
    position: absolute !important;
    width: 50px !important;
    background: rgb(0, 0, 0) !important;
    /* background: linear-gradient( 180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.41) 18%, rgba(0, 0, 0, 0.66) 35%, rgba(4, 4, 4, 0.86) 57%, rgba(0, 0, 0, 1) 100% ) !important; */
    border-radius: 3px;
}

.movie-card-container .mt-2 {
    /* margin-top: 0.7rem !important; */
    /*margin-top: 0.7rem !important;
    /* text-align: left !important; */
    /* padding-left: 0.5em; */
    /* margin-top: -3rem !important;
    position: absolute;
    text-align: center !important;
    background: #000;
    padding: 0.5em;
    margin: 0 10%;
    left: 0;
    right: 0;
    text-shadow: 1px 1px 1px #464646;
    border-radius: 4px;
    color: #ddd !important; */
}

.movie-row {
    box-shadow: 0 1px 20px rgba(27, 6, 65, 0.1);
    padding: 1em 1em 1em 0;
    background: rgba(255, 255, 255, 0.05);
    margin-left: -12px;
    border-radius: 5px;
    border: 2px solid #5151511c;
    width: 100%;
}

.movie-row div {
    margin: auto 0px;
}

.movie-desc {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.3em;
}

.movie-icon {
    font-weight: 300;
    font-size: 1.3em;
}

.movie-back-btn {
    box-shadow: none !important;
    text-align: start;
    padding-left: 0;
    font-size: 1.6em;
    color: #f8f9fa;
    transition: 0.3s all;
}

.movie-imdb-link {
    text-decoration: underline;
    font-weight: 400;
    color: #f8f9fa;
    transition: 0.3s all;
}

.movie-back-btn:hover,
.movie-imdb-link:hover {
    color: #f8f9fa63 !important;
}

@media (min-width: 992px) {
    .col-lg-6 {
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-lg-6 img {
        min-height: 25vw;
    }
}

@media (min-width: 1500px) {
    .col-xl-9 {
        -ms-flex: 0 0 11.111%;
        flex: 0 0 11.111%;
        max-width: 11.111%;
    }
    .col-xl-9 img {
        min-height: 16vw;
        max-height: 15.5vw;
    }
}

@media (max-width: 790px) {
    .movies-row {
        padding: 0 0.1em;
    }
    .movie-row {
        font-size: 0.7rem !important;
        padding: 2em 0;
    }

    .movie-icon {
        font-size: 1.4em !important;
        text-align: center;
        width: 25%;
        padding: 0;
        margin-bottom: 0.5em;
    }

    .movie-icons {
        width: 100%;
        margin: 0 auto;
        margin-top: 2rem !important;
    }

    .movie-back-btn {
        text-align: center;
        margin-top: 2rem !important;
    }

    .inline-heading {
        margin-top: 2em !important;
    }

    .movie-short-desc {
        /* font-size: 1.6em; */
    }

    .movie-card-container.col-sm-6 {
        width: 50%;
    }
}
