html,
body,
#root {
    height: 100%;
}

h1 {
    font-size: 3em;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
}

.movies-category i {
    font-size: 0.9em !important;
}

.container {
    max-width: 1440px;
}

.center-container {
    position: absolute;
    height: 100vh;
    max-width: 1440px;
    top: 0;
    place-items: center center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

a:hover {
    text-decoration: none;
}

.movie-row {
    box-shadow: 0 1px 40px rgba(27, 6, 65, 0.1);
    padding: 2em 1em;
    background: rgba(255, 255, 255, 0.03);
    margin-left: -12px;
    border-radius: 5px;
    width: 100%;
}

.movie-row div {
    margin: auto 0px;
}

.movie-desc {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.3em;
}

.movie-icon {
    font-weight: 300;
    font-size: 1.3em;
}

.movie-back-btn {
    box-shadow: none !important;
    text-align: start;
    padding-left: 0;
    font-size: 1.6em;
    color: #f8f9fa;
    transition: 0.3s all;
}

.movie-imdb-link {
    text-decoration: underline;
    font-weight: 400;
    color: #f8f9fa;
    transition: 0.3s all;
}

.movie-back-btn:hover,
.movie-imdb-link:hover {
    color: #f8f9fa63 !important;
}

.inline-heading h1,
.inline-heading h4 {
    display: inline;
}

.inline-heading h4 {
    padding-left: 0.5em;
}

ul {
    list-style: none;
}

#movies img,
#movie img {
    width: 100%;
}
.brand-text {
    font-size: 2rem;
}
#react-logo {
    color: #00d8ff;
}
#imdb-logo {
    color: #f5de50;
}

.bg-black {
    background-color: black;
}

.text-black {
    color: #000 !important;
}

.text-light-transp {
    color: rgba(226, 226, 226, 0.65) !important;
}

.text-light-transp-2 {
    color: rgba(255, 255, 255, 0.85) !important;
}

.text-light-transp-3 {
    color: rgba(226, 226, 226, 0.2) !important;
}

.font-weight-extra-light {
    font-weight: 200;
}

input.form-control {
    font-size: 1.4em;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.04);
    border: 2px solid #ddd;
    max-width: 410px;
    width: 320px;
    /* margin: 0 auto; */
}

input.form-control:focus {
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.04);
    border: 2px solid #555;
    border-radius: 5px;
    outline: 0;
}

.search-btn {
    background: #f90f1c73;
    color: rgba(255, 255, 255, 0.77) !important;
    font-size: 1.5em;
    font-weight: 400;
    border: 0;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0.18em 0.75em 0.22em;
    margin-left: 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.search-btn:hover {
    color: rgba(227, 227, 227, 0.85) !important;
    background: #cb1a239e;
}

.search-btn:focus {
    outline: none;
}

.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer {
    bottom: 0;
    position: absolute;
}

/*********' PAGINATION ********/

.hide {
    display: none;
}

/******* TEST STYLE STICKY NAV FOOTER *****/

.jumbotron {
    padding: 10rem 2rem 0.5em;
    margin-bottom: 0;
}

.bg-transparent {
    background: #0c0315ed !important;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
}

.display-4.mb-3.font-weight-extra-light.text-light-transp-2 {
    margin-bottom: 0.75em !important;
}

.jumbotron.jumbotron-fluid.mt-5.text-center {
    padding-bottom: 0;
    margin-bottom: 0.75em;
    margin-top: 5em !important;
}

.movies-bg-img {
    top: -20% !important;
}

input.form-control,
input.form-control:focus {
    border: 0;
    z-index: 200;
    background: #bbc1bf45;
    border-radius: 0;
    color: #aaa;
}

input.form-control::placeholder {
    color: #aaa;
}

input.form-control:focus {
    background: #bbc1bf7d;
    color: #aaa;
}

#searchForm {
    display: flex;
    justify-content: flex-end;
    top: 0.72em;
    right: 0;
    left: 0;
    max-width: 1440px;
    z-index: 200;
    margin: 0 auto;
    padding: 0 0 0 15px;
}

.fa,
.fas {
    font-weight: 900;
    font-size: 0.85em;
}

/******************************/

#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
    width: 40px;
    height: 40px;
    border: solid 4px transparent;
    border-top-color: #00c8b1 !important;
    border-left-color: #00c8b1 !important;
    border-radius: 50%;
}

@keyframes loading-bar-spinner {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (min-width: 992px) {
    .col-lg-2 {
        -ms-flex: 0 0 14.2766667%;
        flex: 0 0 14.2766667%;
        max-width: 14.2766667%;
    }
    #movies .col-md-3 .well {
        height: 390px;
    }

    #movies .col-md-3 img {
        height: 240px;
    }
}

@media (max-width: 660px) {
    h1 .center-container {
        position: initial;
        width: auto;
    }
}
