.css-1vp9nu5-control,
.css-1vp9nu5-control:focus,
.css-1vp9nu5-control:active,
.css-1vp9nu5-control:hover {
    outline: 0;
    border: 0 !important;
    border-width: o !important;
}

.css-26l3qy-menu {
}

#react-select-2-option-0,
#react-select-2-option-1,
#react-select-2-option-2,
#react-select-2-option-3,
#react-select-2-option-4,
#react-select-2-option-5,
#react-select-2-option-6,
#react-select-2-option-7 {
    background-color: #fff !important;
}

#react-select-2-option-0:hover,
#react-select-2-option-1:hover,
#react-select-2-option-2:hover,
#react-select-2-option-3:hover,
#react-select-2-option-4:hover,
#react-select-2-option-5:hover,
#react-select-2-option-6:hover,
#react-select-2-option-7:hover {
    background-color: #eee !important;
}

#react-select-2-option-0:active,
#react-select-2-option-1:active,
#react-select-2-option-2:active,
#react-select-2-option-3:active,
#react-select-2-option-4:active,
#react-select-2-option-5:active,
#react-select-2-option-6:active,
#react-select-2-option-7:active {
    background-color: #aaa !important;
}

.css-26l3qy-menu {
    z-index: 900;
}

@media (max-width: 600px) {
    .form-label {
        font-size: 1em !important;
    }
}
